.button{
    min-height: 5vh;
    width: 6vw;
    background-color: crimson;
    border: 1px solid white;
    border-radius:20px;
    margin:2vh ;
    margin-right: 3vw;
    cursor: pointer;
    color: white;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    display: flex;
    
    
}

.button:hover{
    background-color: purple;
    
}

.button:active{
    background-color: purple;
    
}

.cartIcon{
    height: 1.35rem;
    width: 1.35rem;
    color: rgb(34, 224, 81);
    position: relative;
    top: 1vh;
    left: 1.8vw;
    
}

.text{
    margin: 0.5vh;
}

.badge{
    height: 3.7vh;
    width: 1.9vw;
    border-radius: 50%;
    background-color: orange;
    font-size: 2.4vh;
    text-align: center;
    position: relative;
    bottom: 2vh;
    left: 2vw;
    shape-outside: circle();

}






